/*
selettore{
    proprieta: valore;
}
*/
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: greenyellow;
}
h1{
    color: brown;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
p, li{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p>span{
    background-color: orchid;
}
li>span{
    background-color: powderblue;
}
.centrato{
    text-align: center;
}
ol>li:last-child{
    
    font-family: fantasy;
}