/*font-face:url risorsa*/
h1{
    font-size: 80px;
}
h2{
    font-size: 60px; 
}
h3{
    font-size: 40px;
}
h4{
    font-size: 30px; 
}

header{
    text-align: center;
    color: white;
    background-color: black;
}

p{
    color: greenyellow; /*TODO*/
    display: inline-block;
    width: 98%;

}
.scena1{
    background-color: rgb(246, 255, 255);
}

.battuta>div{
    height: 150px;
    background-size: cover;
    display: inline-block;
    width: 20%;
}
.battuta{
    width: 100%;
   /* background-color: lightblue;*/
}
.scena1 .battuta:nth-child(even){
    background-color:rgb(180, 157, 184);
    
    
}
.battuta:nth-child(even) p{
/*color: black;*/
text-align: right;
}
.scena2 .battuta:nth-child(even){
    background-color:rgb(118, 112, 138);
       
}




.D3B0{
    color: gold;
}
.UffImp{
    color: #3a4e4d;
}
.Darth{
    color: #9c1f25;
}
.Ribelle{
    color:#4b6b10
}
.Soldato{
    color: #d0ff00;
    /*background-color: darkgrey;*/
}
.CapitanoCapo{
    color: #191921;
}
.Capitano{
    color: #9b7659;
}
.Leila{
    color: #f4a2e6;
}
.Comandante{
    color: #301224;
}
.Uff2{
    color: #41f5e1;
}